body { 
	background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);;}

h1 {
	text-decoration: underline;
	opacity: 0.6;
	text-align: center;}
	
p {
	opacity: 0.6;}
	
img { margin-right: auto;
	margin-left: auto;
	}
